@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.containorContent
{
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 23%, 100% 0, 100% 77%, 0% 100%);


   
    background-color: #000000;
}
.header
{
    max-height: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.containorContent h1
{
    text-align: left;
    
    color: #FF5678;
    font-weight: bold;
    
    font-size: 55px;

}

@media screen and (max-width: 626px)
{
    .containorContent
    {
        height: 420px;

    }
    .containorContent h1
    {
        font-size: 40px;
    }

}