@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.containorProjects {
  width: 100%;
  height: 100%;
  margin: 0px 0px 20px 0px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: center;
}
.mainContentContainor {
  width: 100%;

  height: 100%;
  display: grid;
  padding-top: 90px;
  grid-template-columns: 1.5fr 1fr;

  column-gap: 30px;
  row-gap: 30px;
}

.testSeries {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(255, 235, 239, 0.95);
  height: 395px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.netflix {
  height: 395px;
  background-color: rgba(241, 243, 217, 0.95);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.fieldo {
  height: 584px;
  background-color: rgba(255, 239, 220, 0.95);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.portfolio {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(243, 255, 238, 0.95);
  height: 395px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.descriptiontest {
  padding: 30px 70px 30px 90px;
  display: grid;
  place-content: center;
}
.descriptionPortfolio {
  padding: 30px 70px 30px 90px;
  display: grid;
  place-content: center;
}
.descriptiontest p {
  color: black;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
}
.descriptionPortfolio p {
  color: black;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
}
.descriptionPortfolio h1 {
  color: #000000;
  font-weight: 700;
  text-align: left;
  font-size: 55px;
}
.descriptiontest h1 {
  color: #000000;
  font-weight: 700;
  text-align: left;
  font-size: 55px;
}
.imagetest {
  padding: 40px 30px 10px 0px;
  width: 100%;
  height: 100%;
}
.imagePortfolio {
  padding: 70px 30px 10px 0px;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 90px 10px 0px;

  justify-content: space-between;
}
.netflix {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.imageNetflix {
  padding: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.descriptionNetflix {
  padding: 3px 0px 10px 0px;
}
.descriptionNetflix {
  font-weight: 500;
}
.descriptionNetflix h1 {
  font-weight: 700;
  font-size: 46px;
}
.descriptionFieldo h1 {
  font-weight: 700;
  font-size: 46px;
}
.descriptionNetflix h1,
p {
  text-align: left;
  color: #000000;
}
.descriptionFieldo h1,
p {
  text-align: left;
  color: #000000;
}
.descriptionFieldo {
  font-weight: 500;
}

.descriptionFieldo {
  padding: 20px;
}
.imagecontainor {
  display: flex;
  padding-left: 130px;
  width: 100%;
}
@media screen and (max-width: 825px) {
  .containorProjects {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .mainContentContainor {
    padding-top: 45px;
    grid-template-columns: 1.5fr 1fr;

    column-gap: 15px;
    row-gap: 15px;
  }
  .testSeries {
    background-color: red;
    background-color: rgba(255, 235, 239, 0.95);
    height: 295px;
    border-radius: 2.5px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  .testSeries p
  {
    font-size: 13px;
  }
  .testSeries h1
  {
    font-size: 40px;
  }
  
}
